<launch>
  <rosparam command="load" file="$(find indooruav_core)/config/config.yaml" />
  <rosparam command="load" file="$(find indooruav_core)/config/gimbal_angle_after_takeoff.yaml" />

  <node
    pkg="indooruav_core"
    type="indooruav_core_node"
    name="indooruav_core"
    output="screen" />
</launch>
